@use "../general/foundation" as _;

.quiz-inform-screen {
  @include _.flex-column;
  height: 100%;
  max-width: 78%;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 20px;
  background-color: #e9ecdc;
  padding: 25px;
  border-radius: 20px;
  font-weight: 500;

}

.chat-screen {
  .quiz-ui {
    @include _.flex-column;
  }
  .quiz-ui.hidden {
    display: none;
  }

  .mbti-buttons-chat {
    margin: 10px 0 10px 0;
  }

  .mbti-btn {
    @include _.square(50px);

    span {
      font-size: 30px;
    }
  }

  // 결정하기 버튼
  .ans-btn {
    @include _.background;
    font-size: 1rem;
    border: 1px solid _.$font-color;
    min-width: 100px;
    $height: 30px; // 요거 조정하면 됨
    height: $height;
    border-radius: calc($height/2);
    box-shadow: 2.6px 4px 3.1px rgb(192, 192, 192);
    text-align: center;
    margin: 10px 0;
  }
}

// 결과창
.result-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.629);
  z-index: 5;
  @include _.flex-column;
  transition: 0.4s;
}

  // 퀴즈 시작하기 버튼
  .quiz-start-btn {
    @include _.background;
    font-size: 1rem;
    border: 1px solid _.$font-color;
    min-width: 150px;
    $height: 36px; // 요거 조정하면 됨
    height: $height;
    border-radius: calc($height/2);
    box-shadow: 2.6px 4px 3.1px rgb(192, 192, 192);
    margin-bottom: 25px;
  }

.result-container {
  @include _.test;
  @include _.flex-column;
  background-color: _.$background-color;
  color: black;
  font-size: 25px;
  padding: 20px;
  border-radius: 20px;
  font-weight: 400;
  position: relative;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.34, 1.28, 0.99, 1.01);

  .regame-btn {
    font-size: 30px;
    @include _.background;
    font-size: 1rem;
    border: 1px solid _.$font-color;
    min-width: 150px;
    $height: 36px; // 요거 조정하면 됨
    height: $height;
    border-radius: calc($height/2);
    box-shadow: 2.6px 4px 3.1px rgb(192, 192, 192);
    margin: 10px;
  }

  .see-chat-btn {
    position: absolute;
    top: 100%;
    margin: 10px;
    background-color: transparent;
    color: _.$background-color;
    border: none;
    text-decoration: underline;
    font-size: 20px;
    text-underline-position: under;
  }
}

.result-popup-up {
  background-color: transparent;
  .result-container {
    transform: translateY(calc((var(--screen-height) / 2) * -1));
  }
  .see-chat-btn {
    display: none;
  }
}

.correct-result-container {
  p {
    // @include _.test;
    margin: 0px;
    padding: 0 0;
  }

  // 축하합니다
  p:nth-child(1) {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0;
  }

  // x번
  p:nth-child(2) {
    font-weight: 500;
    font-size: 25px;
  }
  .tries-value {
    font-weight: 600;
    font-size: 60px;
  }

  // 만에 성공
  p:nth-child(3) {
    font-size: 20px;
    font-weight: 500;
  }

  // x 연속 정답
  p:nth-child(4) {
    font-size: 20px;
    font-weight: 500;
  }
}

.wrong-result-container {
  p {
    // @include _.test;
    margin: 10px;
  }

  // 이모티콘
  p:nth-child(1) {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0;
  }

  // 그는
  p:nth-child(2) {
    font-weight: 600;
    font-size: 30px;
  }

  // 다시 도전해보세요
  p:nth-child(3) {
    font-size: 20px;
    font-weight: 500;
  }
}

.fade-in-down {
  animation-name: fadeInDown;
  animation-duration: var(--custom-duration, 1s);
  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
