.quiz-inform-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.chat-screen .quiz-ui {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.chat-screen .quiz-ui.hidden {
  display: none;
}
.chat-screen .mbti-buttons-chat {
  margin: 10px 0 10px 0;
}
.chat-screen .mbti-btn {
  width: 50px;
  height: 50px;
  text-align: center;
}
.chat-screen .mbti-btn span {
  font-size: 30px;
}
.chat-screen .ans-btn {
  background-color: #ccd6a6;
  font-size: 1rem;
  border: 1px solid #494949;
  min-width: 100px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 2.6px 4px 3.1px rgb(192, 192, 192);
  text-align: center;
  margin: 10px 0;
}

.result-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.629);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result-container {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fcfff7;
  color: black;
  font-size: 25px;
  padding: 20px;
  border-radius: 20px;
  font-weight: 400;
  position: relative;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.34, 1.28, 0.99, 1.01);
}
.result-container .regame-btn {
  font-size: 30px;
  background-color: #ccd6a6;
  font-size: 1rem;
  border: 1px solid #494949;
  min-width: 150px;
  height: 36px;
  border-radius: 18px;
  box-shadow: 2.6px 4px 3.1px rgb(192, 192, 192);
  margin: 10px;
}
.result-container .see-chat-btn {
  position: absolute;
  top: 100%;
  margin: 10px;
  background-color: transparent;
  color: #fcfff7;
  border: none;
  text-decoration: underline;
  font-size: 20px;
  text-underline-position: under;
}

.result-popup-up {
  background-color: transparent;
}
.result-popup-up .result-container {
  transform: translateY(calc(var(--screen-height) / 2 * -1));
}
.result-popup-up .see-chat-btn {
  display: none;
}

.correct-result-container p {
  margin: 0px;
  padding: 0 0;
}
.correct-result-container p:nth-child(1) {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0;
}
.correct-result-container p:nth-child(2) {
  font-weight: 500;
  font-size: 25px;
}
.correct-result-container .tries-value {
  font-weight: 600;
  font-size: 60px;
}
.correct-result-container p:nth-child(3) {
  font-size: 20px;
  font-weight: 500;
}
.correct-result-container p:nth-child(4) {
  font-size: 20px;
  font-weight: 500;
}

.wrong-result-container p {
  margin: 10px;
}
.wrong-result-container p:nth-child(1) {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 0;
}
.wrong-result-container p:nth-child(2) {
  font-weight: 600;
  font-size: 30px;
}
.wrong-result-container p:nth-child(3) {
  font-size: 20px;
  font-weight: 500;
}

.fade-in-down {
  animation-name: fadeInDown;
  animation-duration: var(--custom-duration, 1s);
  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}/*# sourceMappingURL=quiz-screen.css.map */