@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  word-spacing: 1.4px;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 태그들 세로로 정렬 */
body {
  flex-direction: column;
}
