@use "general/foundation" as _;

.bg-2 {
  background-image: url("../assets/bg-2.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: lighten;
}

.fa-chevron-left {
  position: absolute; // 위치 고정
  font-size: 35px;
  padding: 10px 17px;
  top: 53px;
  // left: 0;
  z-index: 4;
}

.chat-screen {
  @include _.flex-column;
  justify-content: flex-end; // input 아래에 붙이기
  position: relative; // position 값을 아무거나라도 줘야 자식의 absolute가 작동함
  color: _.$font-color; // 이 안의 모든 글씨는 검은색
  height: 100%; // screen 의 height에 딱 맞추기
}

// 인풋
.input-field-container {
  width: 90%;
  border: 1px solid _.$font-color;
  padding: 6px 20px;
  border-radius: 20px;
  @include _.flex-row;
  margin: 10px 0;
  position: relative;
  background-color: _.$background-color;

  .input-field {
    font-family: inherit;
    font-size: inherit;
    padding-right: 6px;
    width: 100%;
    overflow-y: scroll;
    resize: both;
    min-height: 20px;
    line-height: 1.3;
    display: block;
    max-height: 73px; // 최대 높이
    outline: none;
    resize: none;
    border: none;
  }
  .input-field[contenteditable]:empty::before {
    content: attr(data-placeholder);
    color: rgb(176, 176, 176);
  }
  .input-field::-webkit-scrollbar {
    display: none;
  }

  .send-btn {
    background-color: transparent;
    // border: none;
    color: #d39f1a;
    white-space: nowrap;
    align-self: end;
    margin-left: 10px;
    user-select: none; // 선택 안되게 하기
  }
}

// 채팅 스크롤 쪽 화면
.chat-scrollbox {
  flex-grow: 1;
  width: 100%; // 스크롤바 끝으로 보내기
  height: 0px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.chat-scrollbox::-webkit-scrollbar {
  background-color: transparent;
}

.chat-interface {
  // width: 90vw; // 가로 꽉 채우기
  @include _.flex-column;

  // 유저랑 assistant 공통으로 해당되는 것들
  .chat-message {
    @include _.flex-row;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px 0 5%;

    // 챗박스
    .chat {
      border: 1px solid _.$font-color;
      border-radius: 20px;
      max-width: 75%;
      padding: 5px 15px;
      font-size: 18px;
      overflow-wrap: break-word;
      @include _.shadow;
    }
  }

  // 로딩 아이콘
  .loading-icon {
    // loading-icon은 flex-direction: column 안에 있는 element야. 이걸 왼쪽으로 붙여줘
    align-self: flex-start;
    margin: 20px 0 0 20px;
    font-size: 30px;
    color: _.$base-color;
  }

  .assistant {
    justify-content: flex-start;
    background-color: transparent;

    .chat {
      background-color: _.$background-color;
    }

    // 프로필 아이콘
    .profile-pic {
      @include _.square(50px);
      border-radius: 15px;
      margin: 0 10px 0 0;
      border: 3px solid _.$base-color;
      @include _.shadow;
    }
  }

  .user {
    justify-content: flex-end;

    // 유저의 챗박스
    .chat {
      background-color: #e3e3e3;
      border: none;
    }
  }
}

// 워닝 팝법
.warning-popup {
  @include _.popup;
  bottom: 100%;
  margin: 0 0 10px 0;
}

// 챗 아래로 정렬 위한 빈칸
.blankspace {
  height: var(--blankspace-height);
}
