*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Pretendard Variable", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  word-spacing: 1.4px;
  display: flex;
  justify-content: space-between;
  /* height: 100vh; 이거 지워야 모바일에서 잘 작동함 */
  background-color: rgb(254, 255, 243);
}

/* 태그들 세로로 정렬 */
body {
  flex-direction: column;
}
