@use "../general/foundation" as _;

@media (min-width: 600px) {
  .pc {
    width: 400px;
    border: 10px solid _.$font-color;
    border-radius: 10px;
    overflow: hidden;
  }
  header {
    background-color: _.$font-color;
  }

  .banner {
    border-radius: 10px 10px 0 0;
  }

  body {
    @include _.flex-row;
    justify-content: space-between;
  }

  .input-field-container {
    margin-bottom: 20px;
  }

  .fa-chevron-left {
    margin-top: 10px;
  }

  .ad-lt,
  .ad-rt {
    @include _.flex-row;
    width: 100px;
    height: 100px;
    background-color: rgb(219, 219, 219);
    font-size: 1.3rem;
    color: _.$font-color;
    font-weight: 100;
    position: relative;
  }
}

// 사이드 광고
@media (max-width: 600px) {
  .ad-lt,
  .ad-rt {
    display: none;
  }
}
