@use "../general/foundation" as _;

// 메인 컨텐츠
.start-screen {
  @include _.flex-column;
  color: _.$font-color;
  width: 100%;
  height: 100%;

  .text-box {
    @include _.flex-column;
    width: 100%;
    height: 150px;

    // 친구의 MBTI 어쩌구 글씨
    p {
      text-align: center;
      font-size: 2.5rem;
      font-weight: bold;
      width: 70%;
    }

    .keyword-text{
      width: 300px;
      // border: 1px solid _.$font-color;
      font-size: 30px;
      margin-bottom: 100px;
      font-weight: 500;
    }
  }

  // 시작하기 버튼
  button {
    @include _.background;
    font-size: 1rem;
    border: 1px solid _.$font-color;
    min-width: 150px;
    $height: 36px; // 요거 조정하면 됨
    height: $height;
    border-radius: calc($height/2);
    box-shadow: 2.6px 4px 3.1px rgb(192, 192, 192);
    margin-bottom: 25px;
  }

  .quiz-btn {
    background-color: rgb(254, 231, 114);
  }
}

// 버튼들 담는 가상의 박스
.mbti-buttons {
  @include _.flex-row;
  justify-content: space-between;
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0 0 50px 0;

  // 내부 버튼들
  .mbti-btn {
    @include _.background;
    @include _.square(70px);
    margin: 0 10px;
    border-radius: 7px;
    border: 1.6px solid _.$font-color;
    box-shadow: 2.6px 4px 3.1px rgb(192, 192, 192);
    user-select: none;
    @include _.flex-column;
  }
}

.flip {
  animation-name: flip;
  animation-duration: var(--custom-duration, 0.5s);
}

@keyframes flip {
  0%,
  100% {
    transform: perspective(300px) rotateX(0deg);
  }
  50% {
    transform: perspective(300px) rotateX(90deg);
    box-shadow: 2.6px -4px 3.1px rgb(192, 192, 192);
  }
  51% {
    transform: perspective(300px) rotateX(-90deg);
    box-shadow: 2.6px -4px 3.1px rgb(192, 192, 192);
  }
}

.fade-out {
  animation-name: fade-out;
  animation-duration: var(--custom-duration, 0.3s);
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: var(--custom-duration, 0.3s);
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
