@use "../general/foundation" as _;

@font-face {
  font-family: "Gosanja";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/Gosanja.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HoengseongHanu";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/HoengseongHanu.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

$banner-height: 53px;

// 상단 배너
.banner {
  width: 100%;
  @include _.flex-row;
  @include _.background;
  justify-content: space-between;
  padding: 0 0 0 20px;
  height: $banner-height;
  font-size: 1.7rem;
  color: _.$font-color;
  font-weight: 100;

  .banner-bold {
    font-weight: 600;
    padding-right: 7px;
    font-family: "HoengseongHanu", sans-serif;
  }

  // 도움 버튼
  .help-btn {
    $font-size: 38px;
    margin-right: calc(5px + ($banner-height - $font-size) / 2);
    font-size: $font-size;
    user-select: none;
    transition: 0.3s;
  }

  .help-btn:hover {
    transform: scale(1.3);
  }
}

.screen {
  height: var(--screen-height);
}

// 광고
.ad {
  width: 100%;
  @include _.flex-row;
  height: 100px;
  background-color: rgb(219, 219, 219);
  font-size: 1.3rem;
  color: _.$font-color;
  font-weight: 100;
  // justify-self: end;
}

.heart-beat {
  animation: heartBeat 2s 10s;
}
@keyframes heartBeat {
  0%,
  28%,
  70% {
    transform: scale(1);
  }
  14%,
  42% {
    transform: scale(1.3);
  }
}

// 버튼색
button {
  color: inherit;
}

// 도움 팝업
.help-popup {
  @include _.test;
  @include _.flex-column;
  position: absolute;
  top: $banner-height;
  right: 0;
  background-color: _.$background-color;
  z-index: 5;
  max-width: 360px;
  border-radius: 10px;
  background-color: #e9ecdc;
  padding: 10px 30px;
  font-size: 1.2rem;

  p {
    margin: 0;
    padding: 0;
  }

  .help-popup-mbti {
    font-weight: 400;
  }
}
